.ImgWrapper {
  position: relative;
  z-index: 1; /* prevent issues with header links */
  background-color: #555;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.ImgWrapper::before {
  content: "";
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
  background-color: #fff;
  z-index: 20;
  opacity: 0;
  animation: white-pulse 2s infinite;
}
.ImgWrapper.Loaded::before {
  animation: none;
}
@keyframes white-pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
  }
}

.Img {
  /* height: 100%; */
  opacity: 0;
  transition: opacity 1s;
}

.Img.Loaded {
  opacity: 1;
}
